
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card p-5 w-50 text-center">
            <div class="mb-4 d-flex justify-content-center">
                <span class="d-flex justify-content-center align-items-center rounded-circle bg-tertiary" style="width:56px; height:56px;">
                    <i class="bi bi-lock-fill fs-3 text-white"></i>
                </span>
            </div>
            <div>
                <h5>Login Required</h5>
                <p>You need to login to access this section</p>
            </div>
        </div>
    </div>