@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="row align-items-center">
        <div class="col">
            <h6>Cofinoy</h6>
            <h1 class="display-4 fw-bold">Every Cup Tells a Filipino Story</h1>
            <p class="mt-3">Cofinoy is a Filipino-inspired café 
                siness that brings together the rich flavors of local coffee and comfort food. More than just a café, it embraces modern convenience by offering a seamless ordering system where customers can place, track, and enjoy their orders with ease. Cofinoy combines tradition with innovation, making every visit a simple yet authentic experience.</p>
            <a class="btn btn-primary rounded-pill mt-5 ps-5 pe-5" asp-area="" asp-controller="Menu" asp-action="Index">ORDER NOW!</a>
            
        </div>
        <div class="col">
            <img src="~/images/coffee.png" width="600" class="d-inline-block align-text-top">
        </div>
    </div>
</section>

<section class="container-fluid bg-primary text-white">
    <div class="container pt-5 pb-5">
        <div class="row align-items-center">
            <div class="col g-5">
                <h5>Who we are</h5>
                <h1 class="display-4 "><strong>About Cofinoy</strong></h1>
                <p class="mt-3">Cofinoy is a Filipino-inspired food and coffee ordering system that blends convenience with culture. It is designed to provide a smooth and reliable way for users to explore menus, customize their orders, and track them in real time. Built with simplicity and efficiency in mind, Cofinoy helps customers enjoy a modern yet authentic food ordering experience.</p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col g-5">
                        <span class="material-symbols-rounded fs-1">
                            potted_plant
                        </span>
                        <h5>Proudly Filipino</h5>
                        <p><small>Cofinoy highlights the unique coffee and food culture of the Philippines, bringing local flavors to every cup and plate.</small></p>
                    </div>
                    <div class="col g-5">
                        <span class="material-symbols-rounded fs-1">
                            local_cafe
                        </span>
                        <h5>Quality & Authenticity</h5>
                        <p><small>We use carefully selected ingredients to deliver a fresh and authentic experience every time</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col g-5">
                        <span class="material-symbols-rounded fs-1">
                            bolt
                        </span>
                        <h5>Seamless Experience</h5>
                        <p><small>From browsing the menu to placing an order, Cofinoy ensures a smooth and hassle-free process.</small></p>
                    </div>
                    <div class="col g-5">
                        <span class="material-symbols-rounded fs-1">
                            diversity_3
                        </span>
                        <h5>Community Oriented</h5>
                        <p><small>We value people as much as our products, supporting both our customers’ needs and local businesses.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container text-black p-5">
    <div class="text-center mb-5">
        <h2>How It Works</h2>
        <p><small>From start to sip, Cofinoy makes the journey transparent and stress-free.</small></p>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card flex-fill align-items-center p-3">
                <div class="card-body text-center">
                    <span class="material-symbols-rounded filled fs-1">
                        shopping_bag
                    </span>
                    <h5 class="mt-3">Make Order</h5>
                    <p><small>Drinks selections are confirmed in the system.</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card flex-fill align-items-center p-3">
                <div class="card-body text-center">
                    <span class="material-symbols-rounded fs-1">
                        coffee_maker
                    </span>
                    <h5 class="mt-3">Brewing</h5>
                    <p><small>Fresh coffee are carefully prepared.</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card flex-fill align-items-center p-3">
                <div class="card-body text-center">
                    <span class="material-symbols-rounded fs-1">
                        person_apron
                    </span>
                    <h5 class="mt-3">Ready To Serve</h5>
                    <p><small>Orders are completed and queued for serving.</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card flex-fill align-items-center p-3">
                <div class="card-body text-center">
                    <span class="material-symbols-rounded fs-1">
                        dine_in
                    </span>
                    <h5 class="mt-3">Serving</h5>
                    <p><small>the order is delivered straight to the table.</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bg-primary text-white">
    <div class="container align-items-center pt-5 pb-5">
        <div class="d-flex justify-content-center">
            <img src="~/images/Cofinoy.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <p class="ms-1 mb-0">Cofinoy</p>
        </div>
        <div class="text-center">
            <h2 class="mt-4">Be Part of Cofinoy Today</h2>
            <p class="mb-5">Start your journey with Cofinoy and experience a smarter, faster, and more enjoyable way to order your favorite drinks and meals.</p>
            <a class="btn-primary2 rounded-pill p-2 ps-5 pe-5 text-decoration-none" asp-area="" asp-controller="Account" asp-action="Login">GET STARTED!</a>
        </div>
    </div>
    <hr class="m-0" />
    <div class="d-flex align-items-center p-4">
        <img src="~/images/Cofinoy.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
        <span>© 2025 Cofinoy, Inc</span>
    </div>
</section>